.card {
    display: flex;
    align-items: center;
    height: 204px;
    width: 100%;
    gap: 20px;
    cursor:pointer;
    padding:1em;
}
    .card:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
.details{
    display:flex;
    flex-direction:column;
    width:55%;
    gap:20px;
}
.image{
    width:40%;
}
.link-card{
    position:absolute;
}
.date-short{
    width:5%;
    font-size:24px;
    text-align:center;
    font-weight:100;
}
.title {
    font-size: 20px;
    font-weight: bold;
    color: #1C3A63;
}
.subtitle {
    font-weight: normal;
    font-size: 1.1em;
    color: var(--blue);
}
.subtitle2 {
    font-weight: normal;
    font-size: 1.1em;
    color: var(--mcl-blue);
}

.event-requests-container{
    display:flex;
    flex-direction:column;
    gap:46px;
}